<div class="payment-div">
    <div class="payment-option">
        
        <input type="radio" name="pay" value="Creadit Card/Debit Card">
        <label>Creadit Card/Debit Card</label>
        <br/>
        <input type="radio" name="pay" value="Payment/Wallet">
        <label>Payment/Wallet</label>
        <br/>
        <input type="radio" name="pay" value="UPI Payment">
        <label>UPI Payment</label>
        <br/>
    </div>
    <div class="paynow">
        <button class="button" class="btn btn-success">Pay Now</button>
    </div>
</div>